
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.lora-uniquifier {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1c;
    color: #e4c86f
}

.todo-container {
    background-color: #333333;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-height: 70%;
    max-width: 800px;
    font-family: "Poppins";
}

.todo-container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.cont {
  display: flex;
  gap: 60px;
  /* justify-content: space-between; */
}

p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
   
}


.add{
    margin-top: 2px;
}
.no {
    color: rgb(165, 154, 154);
    font-size: 18;    
    font-weight: normal;
    text-align: center;
    margin-top: 70px;
}

button {
    padding: 10px;
    background-color: #e4c86f;
    color: rgb(20, 22, 21);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


button:hover {
    background-color: #a57306;
}

input[type="text"] {
    width: 62%; 
    padding: 10px;
    border: 2px solid #555555; 
    border-radius: 8px; 
    background-color: #2c2c2c;
    font-size: 15px; 
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
    color: #eeede9;
    margin-bottom: 60px;
    margin-left: 96px;
    
}

input[type="text"]:focus {
    border-color:  #b3b451; 
    outline: none;
    background-color: #555555;
}
#edit-btn {
    display: none;
  }
  
.output{
    display: flex;
    margin-bottom: 20px;
    justify-content:space-between;
    margin-left: 70px;
    width: 90%;  
    /* ba */
}

.output p{
    border: 2px solid #575653;
    
    width: 70%;
    padding-left: 30px;
    height: 35px;
    border-radius: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 15px;
    padding-top: 5px;
    color: #eeede9;
    margin-right: 30px;

}
.fa-feather-pointed{
    margin-top: 10px;
    margin-right: 10px;
}
.icon {
    margin-left: 10px; /* Adjust the value to control the space */
}
.btns{
    display: flex;
    gap: 20px;
    height: 35px;

    /* margin-right: 20px; */
}
